{% extends "base.html" %}
{% block content %}


  <h1>Juoksijalista</h1>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sukunimi</th>
        <th>etunimi</th>
        <th>Sähköpostiosoite</th>
        <th>Kayttajatunnus</th>
        <th></th>
        <th></th> 
        <th></th>    
      </tr>
    </thead>
    <tbody>
    {%for juoksija in juoksijat %}
      <tr>
        <td>{{juoksija.sukunimi}}</td>
        <td>{{juoksija.etunimi}}</td>
        <td>{{juoksija.sposti}}</td>
        <td>{{juoksija.knimi}}</td>
        <th><a href="{{base_path}}/omasivu/{{juoksija.id}}" class="btn btn-success">Katsele</a></th>
        <th><a href="{{base_path}}/juoksija/??" class="btn btn-success">Muokkaa</a></th>
        <th><a href="{{base_path}}/juoksija/{{juoksija.id}}" class="btn btn-danger">Poista</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}