{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}

  <h1>Juoksijalista</h1>


  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Sukunimi</th>
        <th>etunimi</th>
        <th>Sähköpostiosoite</th>
        <th>Kayttajatunnus</th>
        <th></th>   
      </tr>
    </thead>
    <tbody>
    {%for juoksija in juoksijat %}
      <tr>
        <td>{{juoksija.sukunimi}}</td>
        <td>{{juoksija.etunimi}}</td>
        <td>{{juoksija.sposti}}</td>
        <td>{{juoksija.knimi}}</td>
        <th> <form method="post" action="{{base_path}}/omasivu/{{juoksija.id}}/destroy" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form></th>
       </tr>
      {% endfor %}
    </tbody>
  </table>
    {% endif%}
{% endblock %}