{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
  
 <h1>Käyttäjän {{user_logged_in.knimi}} asiakastiedot</h1>

 {% if message %}
  <div class="alert alert-success">
  {{message}}  
</div>
 {% endif %}
 
  <ul>
    <li><strong>Etunimi:</strong> {{user_logged_in.etunimi}}</li>
    <li><strong>Sukunimi:</strong> {{user_logged_in.sukunimi}}</li>
    <li><strong>Sähköpostiosoite:</strong>{{user_logged_in.sposti}}</li>
  </ul>
          
    <a href="{{base_path}}/omasivu/{{juoksija.id}}/edit" class="btn btn-primary">Muokkaa asiakastietoja</a>    
    
   <h2>Omat lenkkitapahtumani</h2>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Lenkki</th>
        <th>Päivämäärä</th>
        <th>Lähtöaika</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {%for tapahtuma in tapahtumat %}
      <tr>
        <td>{{tapahtuma.lenkki}}</td>
        <td>{{tapahtuma.pvm}}</td>
        <td>{{tapahtuma.aika}}</td>
        <td>
             <form method="post" action="{{base_path}}/omasivu/{{tapahtuma.id}}/peruOsallistuminen" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Poista</button>
</form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {% endif %}
{% endblock %}