{% extends "base.html" %}
{% block content %}
  <h1>Lenkkikerho</h1>

  <h3>Haluatko juosta mukavia yhteislenkkejä hyvässä seurassa? Lenkkikerho on palvelu sinua varten.</h3>

  <h3>Lenkkikerho järjestää yhteislenkkejä Helsingin ja vantaan alueella keskuspuiston tuntumassa. Matkoja on valittavana aina kolmesta kolmeenkymmeneen kilometriin. Toimintamme on ympärivuotista ja perustuu vapaaehtoistyöhön.</h3>

  <h3>Rekisteröitymällä lenkkikerhopalvelun käyttäjäksi pääset selaamaan kattavasti tulevia lenkkejämme sekä ilmoittautumaan näille osallistujaksi. Lenkit ovat ilmaisia. Ilmoittautumiset takaavat sen, että lenkkiä ei järjestetä, jos ilmoittautumisia ei tule.</h3>

  <h3>Rekisteröidy ja ota palvelu käyttöön!</h3>

  <h1>Tulevia lenkkejä!</h1>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Lenkki</th>
        <th>Päivämäärä</th>
        <th>Lähtöaika</th>
        <th>Lähtö/Maali</th>
        <th>Pituus</th>      
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pitkäkosken kymppi</td>
        <td>Pitkäkosken maja</td>
        <td>16.00</td>
        <td>Pitkäkosken majan parkkipaikka</td>
        <td>10</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
