{% extends "base.html" %}
{% block content %}
  <h1>Pitkäkosken kymppi</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-default">Osallistu</button> <a href="#" class="btn btn-danger">Peru osallistuminen</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Päivämäärä:</strong> 11.05.2017</li>
    <li><strong>Lähtöaika:</strong> 16.00</li>
    <li><strong>Lähtö/maali:</strong>Pitkäkosken majan parkkipaikka</li>
    <li><strong>Pituus:</strong> 10 km</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...
  </p>
{% endblock %}