{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}

<h1>Lenkkitapahtumat</h1>
<p></p>
<strong>Painamalla valitse nappia, pääset tutustumaan tapahtuman tarkempiin tietoihin sekä ilmoittautumaan osallistujaksi</strong>
<p></p>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Lenkki</th>
        <th>Kokoontuminen</th>
        <th>Päivämäärä</th>
        <th>Lähtöaika</th>
        <th>Pituus</th> 
        <th></th>    
      </tr>
    </thead>
    <tbody>
    {%for tapahtuma in tapahtumat %}
      <tr>
        <td>{{tapahtuma.lenkki}}</td>
        <td>{{tapahtuma.startti}}</td>
        <td>{{tapahtuma.pvm}}</td>
        <td>{{tapahtuma.aika}}</td>
        <td>{{tapahtuma.matka}}</td>
        <th><a href="{{base_path}}/lenkki_esittely/{{tapahtuma.id}}" class="btn btn-success">Valitse</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% endif %}
{% endblock %}