{% extends "base.html" %}
{% block content %}
  <h1>Luo uusi lenkki</h1>

  <form>

    <div class="form-group">
      <label>Nimi</label>
      <input type="text" class="form-control" value="Lenkin nimi">
    </div>
    <div class="form-group">
      <label>Lähtö/Maali</label>
      <input type="text" class="form-control" value="Lähtöpaikan tiedot">
    </div>
    <div class="form-group">
      <label>Pituus</label>
      <input type="text" class="form-control" value="Lenkin pituus">
    </div>
    <div class="form-group">
      <label>Lenkin kuvaus</label>
      <textarea class="form-control">        Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..Lenkin kuvausta..
      </textarea>
    </div>
     <h2>Valitse lenkille lähtöpaikka</h2>

    <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Osoite</th>
        <th>Kuvaus</th> 
        <th></th> 
        <th><a class="btn btn-default btn-default" href="lenkki_lahto">Luo uusi lähtöpaikka</a></th>       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pitkäkosken maja</td>
        <td>Pitkäkosken tie 5</td>
        <td>Lähtöpaikkana pitkäkosken majan edusta</td>       
        <th><button class="btn btn-default">Valitse lähtöpaikaksi</button></th>
        <th><a class="btn btn-default btn-default" href="lenkki_lahto">muokkaa lähtöpaikkaa</a></th>
      </tr>
          <div class="form-group">
    </div>
    </tbody>
  </table>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
      <a href="lenkki_muokkaus" class="btn btn-success">Takaisin lenkkikuvauksen muokkaukseen</a>
    </div>
  </form>
{% endblock %}