{% extends "base.html" %}
{% block content %}

<body></body>
  <h1>Hae lenkkejä</h1>

  <br><br /> 

  <button class="btn btn-default">Haku</button>
  
  <br><br />

  <input type="text" class="form-control" placeholder="Hakusana">

  <br><br />

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Lenkki</th>
        <th>Kokoontuminen</th>
        <th>Päivämäärä</th>
        <th>Lähtöaika</th>
        <th>Pituus</th> 
        <th></th>    
      </tr>
    </thead>
    <tbody>
    {%for tapahtuma in tapahtumat %}
      <tr>
        <td>{{tapahtuma.lenkki}}</td>
        <td>{{tapahtuma.startti}}</td>
        <td>{{tapahtuma.pvm}}</td>
        <td>{{tapahtuma.aika}}</td>
        <td>{{tapahtuma.matka}}</td>
        <th><a href="{{base_path}}/lenkki_esittely/{{tapahtuma.id}}" class="btn btn-success">Valitse</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}