{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}
  
  <h1>Luo lenkkitapahtuma</h1>
  
    <h2>Valitse lenkkilistasta juoksutapahtumalle lenkki</h2>

    <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Lähtö/Maali</th>
        <th>Pituus</th> 
        <th>Reittikuvaus</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for lenkki in lenkit %}
      <tr>
        <td>{{lenkki.nimi}}</td>
        <td>{{lenkki.startti}}</td>
        <td>{{lenkki.matka}}</td>
        <td>{{lenkki.reitti}}</td>
        <th><a href="{{base_path}}/lenkki_tapahtuma_uusi/{{lenkki.id}}" class="btn btn-success">Valitse</a></th>
      </tr>
      {% endfor %}
          <div class="form-group">
    </div>
    </tbody>
  </table>

  </form>
  {% endif %}
{% endblock %}