{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa Lenkkitapahtumaa</h1>

  <ul>
    <li><strong>Nimi:</strong> Pitkäkosken kymppi km</li>
    <li><strong>Lähtö/maali:</strong>Pitkäkosken majan parkkipaikka</li>
    <li><strong>Pituus:</strong> 10 km</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...Reitti kulkee luonnonkauniissa maisemassa...
  </p>    
    <div class="form-group">
      <label>Päivämäärä</label>
      <input type="text" class="form-control" value="16.02.2017">
    </div>
    <div class="form-group">
      <label>Lähtöaika</label>
      <input type="text" class="form-control" value="16.00">
    </div>
    <div>
      <label>Lenkkikohtaista lisätietoa</label>
        <textarea class="form-control"> Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoaLenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa Lenkkikohtaista lisätietoa
      </textarea>
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
      <button class="btn btn-danger">Poista lenkkitapahtuma</button>
    </div>
  
    <h2>Valitse lenkkilistasta juoksutapahtumalle lenkki</h2>

    <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Lähtö/Maali</th>
        <th>Pituus</th> 
        <th>Reittikuvaus</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for lenkki in lenkit %}
      <tr>
        <td>{{lenkki.nimi}}</td>
        <td>{{lenkki.startti}}</td>
        <td>{{lenkki.matka}}</td>
        <td>{{lenkki.reitti}}</td>
        <th><a href="{{base_path}}/lenkki_muokkaus" class="btn btn-danger">Valitse</a></th>
      </tr>
      {% endfor %}
          <div class="form-group">
    </div>
    </tbody>
  </table>
    <p>
    <a href="lenkki_kanta" class="btn btn-success">Luo uusi lenkki</a>
  </p>


{% endblock %}