{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
  {{message}}
</div>
  <h1>{{tapahtuma.lenkki}}</h1>
  
  
  <ul>
    <li><strong>Päivämäärä:</strong> {{tapahtuma.pvm}}</li>
    <li><strong>Lähtöaika:</strong> {{tapahtuma.aika}}</li>
    <li><strong>Lähtö/maali:</strong>{{tapahtuma.startti}}</li>
    <li><strong>Osoite:</strong>{{tapahtuma.osoite}}</li>
    <li><strong>Pituus:</strong> {{tapahtuma.matka}}</li>
  </ul>

  <h3>Lenkin kuvaus</h3>
  <p>
    {{tapahtuma.reitti}}
  </p>

  <h3>Huomio (lenkkitapahtumakohtaista lisätietoa)</h3>
    <p>
    {{tapahtuma.kuvaus}}
  </p>

    <h3>Huomio (Lähtöpaikkaan liittyvää lisätietoa)</h3>
    <p>
    {{tapahtuma.starttikuvaus}}
  </p>
{% endblock %}