{% extends "base.html" %}
{% block content %}
  {% if user_logged_in %}


  <h1>Lenkkitapahtumien muokkaus</h1>

{% if message %}  
  <div class="alert alert-success">
  {{message}}  
</div>  
{% endif %}

  <br><br />

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Lenkki</th>
        <th>Kokoontuminen</th>
        <th>Päivämäärä</th>
        <th>Lähtöaika</th>
        <th>Pituus</th> 
        <th></th>    
      </tr>
    </thead>
    <tbody>
    {%for tapahtuma in tapahtumat %}
      <tr>
        <td>{{tapahtuma.lenkki}}</td>
        <td>{{tapahtuma.startti}}</td>
        <td>{{tapahtuma.pvm}}</td>
        <td>{{tapahtuma.aika}}</td>
        <td>{{tapahtuma.matka}}</td>
        <th><a href="{{base_path}}/tapahtuma_muokkaa/{{tapahtuma.id}}/edit" class="btn btn-success">Muokkaa</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
{% endblock %}